{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            make it stick - Book Reviews
        </title>
        <link rel="stylesheet" href= "{% static "book-review.css" %}">
    </head>
    <body>
        <header>
            <div>
                My Book Reviews
            </div>
            <nav>
                <a href="main.html">Back to list</a>
                <a href="create.html">Create a review</a>
            </nav>
        </header>
        <main>
            <div class="detail-page-book-review">
                <img class="book-cover" src="{{ review.cover_image }}">
                <h2 class ="book-title">
                    <a href = "detail.html">{{ review.title}}</a>
                </h2>
                <div class="book-rating">
                    {{ review.rating }} stars
                </div>
                <div class="book-authors">
                    {{ review.authors }}
                </div>
                <h2>
                    Summary
                </h2>
                <p>
                    {{ review.summary }}
                </p>
                <h2>
                    My review
                </h2>
                <div>
                    <p>
                        {{ review.review }}
                    </p>
                </div>
            </div>
        </main>
        <footer>
            <div>
                Copyright 2022 by Andrew Liu
            </div>
            <p>
                This is my site that contains all my fictional book reviews.
                I don't really read. Oops.
            </p>
        </footer>
    </body>
</html>