@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
    padding: 12px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: burlywood;
    padding: 24px;
}

main {
    max-width: 800px;
    margin: auto;
    margin-bottom: 24px;
}

input {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
}

textarea {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
    height: 100px;
}

button{
    padding: 12px;
    font-size: 110%;
}

a {
    text-decoration: none;
}

a:hover {
    color: green;
}

.main-page-book-review {
    display:grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
    background-color: white;
    border: 1px solid lightblue;
    padding: 24px;
}

.detail-page-book-review {
    background-color: white;
    padding: 24px;
}

.book-review-form {
    background-color: white;
    padding: 24px;
}

.book-cover {
    grid-row: 1/6;
    width: 200px;
    height: auto;
}

.book-title {
    font-weight: bold;
    font-size: 150%;
}

.book-rating {
    font-size: 125%;
}

.book-authors {
    color:dimgray;
}